.metn{
    font-size: 15px;
    color: blue;
    background-color: black;
}
.attachment{
    width: 100%;
    height: 500px;
    background-image: url(https://i.insider.com/63a0c2f4b5600000185b5f11?width=700);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
